<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Farmer Dashboard</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <div class="sidebar">
        <div>
          <h4 class="text-center mb-4"><i class="bi bi-shop"></i> AgroTrade</h4>
          <div class="user-info">
            👤 Welcome {{ fullName }}
          </div>
          <a href="#"><i class="bi bi-speedometer2"></i> Dashboard</a>
          <a href="#"><i class="bi bi-box-seam"></i> My Products</a>
          <a href="#"><i class="bi bi-eye"></i> View All Products</a>
        </div>
        <div>
          <button class="btn btn-danger w-100" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i> Logout
          </button>
        </div>
      </div>
      


  <script>
  </script>

</body>
</html>
