<button class="btn btn-outline-success  " (click)="navigateToAdminDashboard()">⬅ Back to Admin Dashboard</button>
<div class="container mt-4">
  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold">Audit Trail</h2>
    
  </div>

  <div class="table-responsive shadow rounded">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">UserId</th>
          <th scope="col">User Name</th>
          <th scope="col">Action</th>
          <th scope="col">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of auditLogs">
          <td>{{ log.userId }}</td>
          <td>{{ log.userName }}</td>
          <td>
            <span class="badge bg-info text-dark px-3 py-2">{{ log.action }}</span>
          </td>
          <td>{{ log.timestamp | date:'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
